.all{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
nav {
    box-shadow: none;
    padding-left: 5em;
    padding-right: 5em;
    background-color: #fff;
}
#logo {
    margin-top: 8px;
    float: left;
}
nav ul a {
    color: red;
    font-weight: bold;
}
nav ul {
    float: left;
}
.menu-left {
    padding-left: 140px!important;
}
.button-collapse{
   right: 50px;
}
i.icon-menu {
    color: #ff1933;
    float: left;
}
h3 {
    font-size: 30px;
    font-weight: bold;
}
.boxText {
    padding: 30px;
}
.boxText p {
    font-weight: 400;
    color: #3e3e3e;
}
#modalidades {
    background-color: #dadada;
    padding-top: 1em;
}
.box-caption {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}
#perguntas{
    background-color: #f1f1f1;
    padding-top: 1em;
}
.questao p {
text-align: left;
color: #3c3c3c;
}
footer{
    background-color: #3c3c3c;
    color: #fff;
}
.itemCategoria {
    background-color: #fff;
    padding: 2em;
    margin-bottom: 6em;
}
.itemCategoria h4{
    font-weight: bold;
}

